.one{display: flex;
    flex-direction: row;
    height: 1000px;
    font-size: 30px;
  text-align: center;
  border: 10px solid rgb(188, 96, 31);
 

}
.a{background-color: green; padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.b{background-color: yellow; padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.c{background-color: rgb(96, 58, 134); padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.d{background-color: rgb(151, 155, 159); padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.e{background-color: blue;padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.f{background-color: orange; padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.g{background-color: rgb(244, 151, 222); padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.h{background-color: red; padding: 10px;
  flex: 50%; font-size: 100px; color: white;}
.i{background-color: brown; padding: 10px;
  flex: 50%; font-size: 100px; color: white;}

  /* smaller smartphonse (0-481) */
@media only screen and (min-device-width:0px)  and (max-device-width:480px)
{.one{display: flex;
    flex-direction: column;
    height: 1000px;
    font-size: 30px;
  text-align: center;
  border: 20px solid rgb(188, 96, 31);
 } }

/* tablets & larger smartphonse  (481-768) */
@media only screen and (min-device-width:481px) and (max-device-width:768px)
{ .one{display: flex;
    flex-direction: column;
    height: 1000px;
    font-size: 30px;
  text-align: center;
  border: 20px solid rgb(188, 96, 31)}  }


