.z {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows: auto;
    border: 10px solid rgb(214, 114, 42);
    
   
  }
   .a{
    background-color: rgba(130, 208, 142, 0.8);
    padding: 20px;
    font-size: 50px;
    text-align: center;
    color: white;
  }
   .b{background-color: rgb(41, 94, 201);  padding: 20px;
    font-size: 50px; text-align: center; color: white;}
  
   .c{background-color: rgb(122, 15, 132); padding: 20px;
    font-size: 50px; text-align: center; color: white;}
   .d{background-color: rgb(35, 23, 111); padding: 20px;
    font-size: 50px; text-align: center;
    color: white;}
   .e{background-color: yellow;padding: 20px;
    font-size: 50px; text-align: center;
    color: white;}
   .f{background-color: orange;padding: 20px;
    font-size: 50px;  text-align: center;
    color: white;}
   .g{background-color: red;padding: 20px;
    font-size: 50px;  text-align: center;
    color: white;}
   .h{background-color: rgb(158, 155, 151);padding: 20px;
    font-size: 50px;  text-align: center;
    color: white;}
   .i{background-color: rgb(107, 155, 107);padding: 20px;
    font-size: 50px;  text-align: center;
    color: white;}
   .k{background-color: green;padding: 20px;
    font-size: 50px;  text-align: center;
    color: white;}

    /* smaller smartphonse (0-481) */
@media only screen and (min-device-width:0px)  and (max-device-width:480px)
{
    .z {
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: auto;
        border: 10px solid rgb(214, 114, 42);
        
       
      }}
/* .a{width: 100px;
    height: 100px;
}
.b{width: 100px;
    height: 100px;
}
.c{width: 100px;
    height: 100px;
}
.d{width: 100px;
    height: 100px;
}
.e{width: 100px;
    height: 100px;
}
.f{width: 100px;
    height: 100px;
}
.g{width: 100px;
    height: 100px;
}
.h{width: 100px;
    height: 100px;
}
.i{width: 100px;
    height: 100px;
}
.k{width: 100px;
    height: 100px;
}
.z{width: 100px;
    height: 100px;
} */

/* tablets & larger smartphonse  (481-768) */
@media only screen and (min-device-width:481px) and (max-device-width:768px){
    .z {
        display: grid;
        grid-template-columns:auto auto;
}
  
}