

.even{
    display: none;
}
.odd{
    color: white;
    background-color: red;
    display: inline-block;
    border: 1px solid black;
    text-align: center; width: 35px;
    height: 25px;
}







