
.main{
    height:500px;
    text-align: center;
}


.one{
    width: 200px;
    height: 200px;
    background-color: rgb(49, 28, 166);
    border: 1px solid blue; 
    display: inline-block;
    margin:70px ;
}

/* smaller smartphonse (0-481) */
@media only screen and(min-device-width:0px)  and(max-device-width:480px)
{

}

/* tablets & larger smartphonse  (481-768) */
@media only screen and (min-device-width:481px)  and (max-device-width:768px)
{

    .one{
        background-color: red;
       
    }
    
}